    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
    .header_container {
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
        background-image: url(../images/image10.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    /* * {
        margin: 0;
    }
     */
    
    body {
        font-family: Lato;
        font-weight: bolder;
        margin: 0;
        padding: 0;
    }
    
    a {
        text-decoration: none;
    }
    
    ul {
        list-style-type: none;
        display: flex;
        padding: 0px 50px 0px 0px;
    }
    
    li {
        padding: 20px 30px;
        color: #eee;
        font-weight: bolder;
        font-size: 17px;
        letter-spacing: 3px;
    }
    
    .logo {
        padding: 25px 0px 0px 50px;
        color: #eee;
        font-weight: bolder;
        font-size: 20px;
    }
    
    .hero_text {
        position: relative;
        top: -25em;
        color: #eee;
        text-align: center;
    }
    
    .hero_head {
        font-size: 30px;
        word-spacing: 9px;
        letter-spacing: 7px;
    }
    
    .hero_text button {
        padding: 10px 20px;
        font-family: lato;
        font-weight: bolder;
        margin-top: 20px;
        background-color: transparent;
        color: #eee;
        border: 3px solid #eee;
        border-radius: 5px;
    }
    
    .hero_text button:hover {
        background-color: #eee;
        color: #000;
        font-weight: bolder;
    }
    
    .first_section {
        display: flex;
        justify-content: space-around;
        margin-top: -230px;
    }
    
    .painting {
        background-color: #fff;
        width: 25%;
        box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 15%);
        border-radius: 8px;
        /* height: 300px; */
        padding: 50px 10px;
        line-height: 40px;
        text-align: center;
    }
    
    .painting_image img {
        width: 20%;
    }
    
    .painting_image {
        text-align: center;
    }
    
    .painting1 {
        margin-top: -30px;
    }
    
    .second_section {
        background-color: #eee;
        display: flex;
        padding: 70px 60px;
        margin-top: 50px;
        height: 382px
    }
    
    .man_image img {
        width: 90%;
    }
    
    .sub_section {
        width: 45%;
        background-color: #fff;
        position: relative;
        right: 150px;
        top: 30px;
        padding: 20px 40px;
        height: 450px;
        box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 15%);
        border-radius: 8px;
    }
    
    .sub_section button {
        background-color: rosybrown;
        color: #fff;
        border: 1px solid rosybrown;
        padding: 10px 20px;
        border-radius: 5px;
    }
    
    .sub_section button:hover {
        background-color: transparent;
        color: #000;
    }
    
    .third_section {
        margin-top: 150px;
    }
    
    .sub_section p {
        font-size: 19px;
        line-height: 40px;
        margin-top: 55px;
    }
    
    .sub_third_section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .third_section {
        text-align: center;
        margin: 200px 0px 0px 0px;
    }
    
    .third_section h1 {
        margin-bottom: 20px;
        font-size: 40px;
    }
    
    .femi1 {
        border-right: 1px dotted #000;
        border-bottom: 1px dotted #000;
        padding: 50px 0px;
        margin: 10px 0px 0px 0px;
    }
    
    .project1 {
        display: flex;
        justify-content: space-around;
    }
    
    .project2 {
        display: flex;
        justify-content: space-around;
        margin: 30px 0px 0px 0px;
    }
    
    .sub_project {
        width: 30%;
        height: 500px;
        border: 1px solid #eee;
        border-radius: 5px;
    }
    
    .sub_project:hover {
        box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 15%);
        transform: scale(1, 1.03);
    }
    
    .fourth_text {
        padding-left: 50px;
        line-height: 7px;
    }
    
    .sub_project img {
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    
    .sub_project p {
        line-height: 30px;
        padding: 0px 20px;
    }
    
    .sub_project h1 {
        padding: 0px 20px;
    }
    
    .fourth_section {
        margin: 100px 0px 0px 0px;
    }
    
    .fourth_text h1 {
        font-size: 30px;
        font-weight: 700;
    }
    
    .fourth_text h4 {
        color: rosybrown;
    }